! Source: https://github.com/piperun/iploggerfilter/blob/master/filterlist
@URLinclude https://raw.githubusercontent.com/piperun/iploggerfilter/master/filterlist
!
!
! Source: https://github.com/HexxiumCreations/threat-list/blob/gh-pages/hexxiumthreatlist.txt
@URLinclude https://raw.githubusercontent.com/HexxiumCreations/threat-list/gh-pages/hexxiumthreatlist.txt
!
!
! Source: https://github.com/PolishFiltersTeam/KAD/blob/master/KAD.txt
@URLinclude https://raw.githubusercontent.com/PolishFiltersTeam/KAD/master/KAD.txt
!
!
!#if cap_user_stylesheet
!
! Source: https://github.com/PolishFiltersTeam/PolishRSSFilters/blob/master/polish_rss_filters.txt
@URLinclude https://raw.githubusercontent.com/PolishFiltersTeam/PolishRSSFilters/master/polish_rss_filters.txt
!
!
! Source: https://github.com/olegwukr/polish-privacy-filters/blob/master/adblock.txt
@URLinclude https://raw.githubusercontent.com/olegwukr/polish-privacy-filters/master/adblock.txt
!
!
! Source: https://github.com/metaphoricgiraffe/tracking-filters/blob/master/trackingfilters.txt
@URLinclude https://raw.githubusercontent.com/metaphoricgiraffe/tracking-filters/master/trackingfilters.txt
!
!#endif
