!#include piperun-filters/iploggerwhitelist.txt
!#include privacy-filters/olegwukr-filters.txt
!#include privacy-filters/tracking-filters.txt
!
!
! Source: https://github.com/PolishFiltersTeam/PolishRSSFilters/blob/master/polish_rss_filters.txt
@URLinclude https://raw.githubusercontent.com/PolishFiltersTeam/PolishRSSFilters/master/polish_rss_filters.txt
!
!
! Source: https://github.com/piperun/iploggerfilter/blob/master/filterlist
@URLinclude https://raw.githubusercontent.com/piperun/iploggerfilter/master/filterlist
!
!
! Source: https://github.com/HexxiumCreations/threat-list/blob/gh-pages/hexxiumthreatlist.txt
@URLinclude https://raw.githubusercontent.com/HexxiumCreations/threat-list/gh-pages/hexxiumthreatlist.txt
!
!
! Source: https://github.com/azet12/KAD/blob/master/KAD.txt
@URLinclude https://raw.githubusercontent.com/azet12/KAD/master/KAD.txt
!
!
! Source: https://raw.githubusercontent.com/azet12/KAD/gh-pages/assets/other/kadfakewhitelist.txt
@URLinclude https://raw.githubusercontent.com/azet12/KAD/gh-pages/assets/other/kadfakewhitelist.txt
!
!#if cap_user_stylesheet
!
! Source: https://github.com/olegwukr/polish-privacy-filters/blob/master/anti-adblock.txt
@URLinclude https://raw.githubusercontent.com/olegwukr/polish-privacy-filters/master/anti-adblock.txt
!
!#if ext_ublock
!
! Source: https://github.com/olegwukr/polish-privacy-filters/blob/master/anti-adblock_suplement.txt
@URLinclude https://raw.githubusercontent.com/olegwukr/polish-privacy-filters/master/anti-adblock_suplement.txt
!
!#endif
!#endif
